<h1 class="title">Пользователи</h1>

<div class="users">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-card__header">
        <div class="user-card__avatar">
          <%= image_tag user_avatar(user) %>
        </div>
        <div class="user-card__text">
          <h2 class="user-card__title"><%= user.name %></h2>
          <%= link_to user.username, user_path(user), class: 'user-card__link' %>
        </div>
      </div>
      <div class="user-card__bottom">
        <%= link_to 'Задать вопрос', user_path(user), class: 'btn user-card__btn' %>
      </div>
    </div>
  <% end %>
</div>
