<div class="user-questions buffer-both">
  <h1 class="title">Список вопросов для тэга <%= @tag.title %></h1>
  <div class="questions-list">
    <% @questions.each do |question| %>
      <%= render partial: 'questions/question', object: question %>
    <% end %>
  </div>
</div>
